.Boleto {
  border: 1px solid black;
  border-left: 10px solid black;
  padding: 10px;
  padding-left: 50px;
  width: 500px;
  margin: 5px;
  background-size: cover;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQK3GBMO3qWAINleUAem5yyZAanWlf_d7HBngZIp5FUoLcWRQwa&usqp=CAU');
}

.Boleto::after {
  content: "";
  
 
  z-index: -1;   
}