
.ui .btn {
  margin: 5px;
  
}

.boletoWrapped {
  position: relative;
  height: 800px;
  width: 1070px;
  margin: 50px;
}

.BoletoPng {
  height: 100%;
  width: 100%;
  background-size: 908px 408px;
  background-repeat: no-repeat;
  background-image: url('./assets/Boletos_sorteo.png'); 
}

.nombre {
  position: absolute;
  top: 36%;
  left: 19%;
  font-size: 1.8rem;
  color: white;
  text-align: center;
  width: 320px;
  /* border: 1px solid green; */
}

.numero {
  position: absolute;
  width: 100px;
  top: 30.5%;
  left: 68.5%;
  font-size: 2.8rem;
  /* border: 1px solid white; */
  color: white;
  text-align: center;
}